.imageBlock {
  aspect-ratio: 1;
  border-radius: 5px;
  overflow: hidden;
  border: 0.5px solid var(--primary-color);
  transition: all 0.2s ease-in;
}

.card {
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}
